@model List<Category>

<h1>Category List</h1>

<table class="table">
    <tr>
        <th>Category Name</th>
        <th>Products Included</th>
        <th>Actions</th>
    </tr>
    @foreach (var category in Model)
    {
        <tr>
            <td>@category.Name</td>
            <td>
                @if (category.ProductIds.Count > 0)
                {
                    <a class="btn btn-secondary btn-sm" asp-controller="Category" asp-action="ViewProducts" asp-route-id="@category.Id">View Products</a>
                }
                else
                {
                    <text>No Products</text>
                }
            </td>
            <td>
                <a class="btn btn-secondary btn-sm" asp-action="Details" asp-route-id="@category.Id">Details</a> |
                <a class="btn btn-secondary btn-sm" asp-action="Edit" asp-route-id="@category.Id">Edit</a> |
                <a class="btn btn-secondary btn-sm" asp-action="Delete" asp-route-id="@category.Id">Delete</a>
            </td>
        </tr>
    }
</table>

<a class="btn btn-primary" asp-action="Create">Create a Category</a>
